<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home - TimeQuill</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" th:href="@{/assets/styles.css}">
    </head>

    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const urlParams = new URLSearchParams(window.location.search);
            const status = document.getElementById("login-status").innerText;
            const btn = document.getElementById("logout-button");

            if (status !== "Login") {
                btn.style.display = "inline";
            }
        });
    </script>

    <body>
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="header-logo" href="/">
                <img th:src="@{/assets/timequillinv.svg}" alt="TimeQuill Logo" width="160" height="50" style="margin-left: 15px; margin-top: 8px">
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/projects"> Project List </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="button is-danger" id="logout-button" style="display: none; margin-top: 1px">
                                    <span>Logout</span>
                                </button>
                            </form>
                        <p class="control" th:if="${manager}">
                            <a class="button is-info" href="/account/admin">
                                Admin
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-primary" href="/account/view">
                                <span id="login-status" th:text="${status}"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-primary" style="margin-top: 5px">
        <div class="hero-body">
            <p class="title">Welcome to TimeQuill!</p>
            <p class="subtitle">Hi, <span th:text="${name}"></span>!</p>
        </div>
    </section>

    </body>
</html>
