<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create Project - TimeQuill</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/assets/styles.css}">
</head>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const urlParams = new URLSearchParams(window.location.search);
        const status = document.getElementById("login-status").innerText;
        const btn = document.getElementById("logout-button");

        if (status !== "Login") {
            btn.style.display = "inline";
        }
    });
</script>

<body>
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="header-logo" href="/">
                <img th:src="@{/assets/timequillinv.svg}" alt="TimeQuill Logo" width="160" height="50">
            </a>
        </div>
        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/projects">Project List</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="button is-danger" id="logout-button">
                            Logout
                        </button>
                    </form>
                    <a class="button is-primary" href="/account/view">
                        Account
                    </a>
                </div>
            </div>
        </div>
    </nav>

<section class="create_project">
    <div class="create_project_container">
        <form th:action="@{/projects/create}" method="post">
            <div class="field">
                <label class="label" for="clientName">Client Name</label>
                <input class="input" type="text" id="clientName" name="clientName" required>
            </div>
            <div class="field">
                <label class="label" for="projName">Project Name</label>
                <input class="input" type="text" id="projName" name="projName" required>
            </div>
            <div class="field">
                <label class="label" for="description">Description</label>
                <input class="input" type="text" id="description" name="description" required>
            </div>
            <div class="field">
                <label class="label" for="manager_id">Manager ID</label>
                <input class="input" type="text" id="manager_id" name="manager_id" required>
            </div>
            <div class="field" >
                <label class="label" for="start_date">Start Date</label>
                <input class="input" type="date" id="start_date" name="start_date" required>
            </div>
            <div class="field" >
                <label class="label" for="end_date">End Date</label>
                <input class="input" type="date" id="end_date" name="end_date" required>
            </div>
            <div class="field">
            </div>
            <button type="submit" class="button is-primary">
                Create New Project
            </button>
        </form>
    </div>
</section>


</body>
</html>
