<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Project View - TimeQuill</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/assets/styles.css}">
</head>

<body>

<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="header-logo" href="/">
            <img th:src="@{/assets/timequillinv.svg}" alt="TimeQuill Logo" width="160" height="50">
        </a>
    </div>
    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/projects">Project List</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="button is-danger" id="logout-button">
                        Logout
                    </button>
                </form>
                <a class="button is-primary" href="/account/view">
                    Account
                </a>
            </div>
        </div>
    </div>
</nav>
    <br>
    <br>
    <br>
    <section class="create_assignment">
        <div class="assignment_container">
            <form th:action="@{/projects/create-assignment}" method="post">
                <div class="field">
                    <input class="input" type="text" id="userName" name="userName" placeholder="Assign To User" required>
                </div>
                <div class="field">
                    <input class="input" type="text" id="rate" name="rate" placeholder="Rate" required>
                </div>
                <div class="field">
                    <input class="input" type="text" id="description" name="description" placeholder="Description" required>
                </div>
                <div class="field">
                    <button id="assignment-button" type="submit" class="button is-primary">New Assignment</button>
                </div>
                <div class="field">
                    <input type="hidden" name="projectId" th:value="${projectInfo.id}">
                </div>
            </form>
        </div>
    </section>

    <section class="assignment_list">
        <br><br>
        <table class="table is-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Assigned User</th>
                <th>Rate</th>
                <th>Description</th>
                <th>Manager</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="assignment : ${assignmentSet}">
                <div class = "has-background-grey-dark">
                        <td th:text="${assignment.id}"></td>
                        <td th:text="${assignment.user.username}"></td>
                        <td th:text="${assignment.rate}"></td>
                        <td th:text="${assignment.description}"></td>
                        <td th:text="${assignment.assignedBy.username}"></td>
                        <td>
                            <form th:action="@{/projects/delete-assignment}" method="post" style="display: inline-block; margin-right: 5px">
                                <input type="hidden" name="assignmentId" th:value="${assignment.id}">
                                <button type="submit" class="button is-danger">
                                    Delete
                                </button>
                            </form>
                            <form th:action="@{/projects/track-time}" method="get" style="display: inline-block;">
                                <input type="hidden" name="assignmentId" th:value="${assignment.id}">
                                <button type="submit" class="button is-info">
                                    Track Time
                                </button>
                            </form>
                        </td>
                </div>
            </tr>
            </tbody>
        </table>
    </section>

</body>
