<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TimeQuill</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/assets/styles.css}">
</head>

<body>

    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="header-logo" href="/">
                <img th:src="@{/assets/timequillinv.svg}" alt="TimeQuill Logo" width="160" height="50">
            </a>
        </div>
        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="">Home</a>
                <a class="navbar-item" href="/projects">Project List</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="button is-danger" id="logout-button">
                            Logout
                        </button>
                    </form>
                    <a class="button is-primary" href="/login">
                        Account
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <section class="projectInfo">
        <h2>Project Id: <span th:text="${projectInfo.id}"></span></h2>
    </section>


    <section class="create_project">
        <div class="create_project_container">
            <form th:action="@{/projects/create-assignment}" method="post">
                <div class="field">
                    <label class="label" for="userName">Assign To User</label>
                    <input class="input" type="text" id="userName" name="userName" required>
                </div>
                <div class="field">
                    <label class="label" for="rate">Rate</label>
                    <input class="input" type="text" id="rate" name="rate" required>
                </div>
                <div class="field">
                    <label class="label" for="description">Description</label>
                    <input class="input" type="text" id="description" name="description" required>
                </div>
                <input type="hidden" name="projectId" th:value="${projectInfo.id}">
                <button type="submit" class="button is-primary">
                    New Assignment
                </button>
            </form>
        </div>
    </section>

    <section class="assignment_list">
        <br><br>
        <table class="table is-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Assigned User</th>
                <th>Rate</th>
                <th>Description</th>
                <th>Manager</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="assignment : ${assignmentSet}">
                <div class = "has-background-grey-dark">
                        <td th:text="${assignment.id}">Assignment ID</td>
                        <td th:text="${assignment.user.username}">Assigned To</td>
                        <td th:text="${assignment.rate}">Rate</td>
                        <td th:text="${assignment.description}">Description</td>
                        <td th:text="${assignment.assignedBy.username}">Manager</td>
                </div>
            </tr>
            </tbody>
        </table>
    </section>

</body>
